VITE_SUPABASE_PROJECT_ID="dqmlbktfesyfepxuiraz"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxbWxia3RmZXN5ZmVweHVpcmF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NDk4NjcsImV4cCI6MjA5MTMyNTg2N30.Ek6eKVHhEiv7wIbrA9hk2emM5d-j_z-FEUKu4ofSjl0"
VITE_SUPABASE_URL="https://dqmlbktfesyfepxuiraz.supabase.co"
